




* {
     margin: 0em;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family:Garamon;
   src: url(../assets/fonts/GARAMOND.4-weit.otf) format(opentype);
}
@font-face {
    font-family:Blur2;
    src: url(../assets/fonts/09-100-100-100-blur2.otf) format(opentype);
}
@font-face {
    font-family:Blur1;
    src: url(../assets/fonts/09-100-100-100-blur1.otf) format(opentype);
}
@font-face {
    font-family:Blur1;
    src: url(../assets/fonts/09-100-100-100-blur1.otf) format(opentype);
}

body {
    
font-family:Blur1;
    line-height: 1.6;
    
    background-color: #473910;
}

h1{
    font-size: 200px;
    font-weight:lighter;
    color: #47a3ff;
}

a {
    font-size: 50px;
    font-family:Blur1;
    color: #0066cc;
    text-decoration: none;
}
p {
    font-size: 30px;
    font-family:Garamon;
   
    
    color: #0066cc;
    text-decoration: none;
}