.body1{
    /* background-image: url('../Fließband/fließbandLANG.png');
    background-size: cover; */
    
    height: 100vh; /* Viewport-Höhe, nicht 12000px */
    width: 1500px;
    overflow: hidden; /* versteckt alles, was überläuft */
    position: relative;
    top:5%;
}
.button {
  font-size: 25px;
  font-family: Verdana, sans-serif;
  color: white;
  background-color: #ff0015;
  height: 75px;
  width: 200px;
  margin: 1em;
  border-radius: 100em;
  border: none;
  outline: none;
  cursor: pointer;
}
.drueckeffekt {
    font-size: 25px;
    font-family: Verdana, sans-serif;
    color: white;
    background-color: #ff0015;
    height: 100px;
    width: 100px;
    margin: 1.3em;
    border-radius: 10em;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: 0 10px 0 #85000b;
  }
  .drueckeffekt:active {
    box-shadow: none;
    transform: translateY(7px);
    transition: all.1s;
  }
  
.box{
    position: absolute;
    top: 8%;
    left: 10%;
    width: 80%;
    height: auto; /* nicht 200% */
        mix-blend-mode: difference;
    /* animation: scroll 23s linear infinite; */
}
@keyframes scroll {
    0% { transform: translateY(0px); }
    100% { transform: translateY(-650vh); /* scroll nach unten um eine Viewport-Höhe */ }
}
* {
    margin: 0em;
    padding: 0;
    box-sizing: border-box;
}

.zeile{
    position: relative;
    left: 10%;
    line-height: 85px;

   

}

.zeile:nth-child(n) {
    transform: translateY(50px) ;
}


.span{
    font-size: 40px;
    font-family: 'futura-pt', sans-serif;
    font-weight: bolder;
    color: #ffffff;
    text-decoration: none;
    margin-right: 10px;
    -webkit-text-stroke: rgb(0, 0, 0) 0.5px;
    transition:0.5s;

}
/* .span:hover{
    font-size: 200px;
    font-family: 'futura-pt', sans-serif;
    font-weight: bolder;
    color: #ffffff;
    text-decoration: none;
    margin-right: 10px;
    -webkit-text-stroke: rgb(0, 0, 0) 0.5px;
} */




.Zeile1{
display: flex;
justify-content: space-between;
align-items: center;
    opacity: 1;
    height:40px;
    width:100%;
    color:#000000!important;
    background-color: #ffffff!important;
}

.links {
    position: flex;
    margin-left: 25px;
    font-size: 50px;

  

}
.mitte {
    position: flex;

}
.rechts {
    position: flex;
    margin-right:25px;
    font-size: 50px;
}

header {
    z-index: 9999;
    position: fixed;
    background-color: #ffffff;
    width:100%;
}
h3{
    font-family: 'W3';
    font-size: 25px;
    color: #000000;
    margin-top:20px;
 
}

header p {
    display: relative; /* oder: display:flex; align-items:center; */

    text-align: left;
    text-justify: inter-word;
    text-align-last: auto;
    align-items: center;
    -moz-text-align-last: auto;
    letter-spacing: 0px; /* nach Bedarf anpassen */
    white-space: nowrap;   /* verhindert Zeilenumbruch innerhalb des Links */
}

@font-face {
    font-family: 'W3';
    src: url('../../assets/fonts/HiraginoSans-W3.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'W6';
    src: url('../../assets/fonts/HiraginoSans-W6.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

h1{
    font-size: 25px;
    font-family:W3;
    color: #000000;
    margin-top:0px;
    text-align:center;

}


h3{
    font-family: 'W3';
    font-size: 25px;
    color: #000000;
}



















a {
    text-align: justify;
    font-size: 1em;
    font-family:Garamon;
    color: #373737;
    text-decoration: none;
    letter-spacing: 1px;
    filter: blur(0px);
}
.pixel{

    position:relative;
   background: linear-gradient(0deg, rgb(0, 0, 0), rgb(124, 124, 124), rgb(255, 255, 255), rgb(124, 124, 124), rgb(0, 0, 0));
    display: block;
    width: 100%;
    height: 80px;
    justify-items: center;
   
    outline: 0px rgb(0, 0, 0) solid;
    outline-offset: 00px;
    /* animation:  scroll 25s linear infinite ; */
}

.animate {
  animation: scroll 25s linear infinite;
}

@keyframes PixelGradient {
0% {
    background: linear-gradient(0deg, rgb(0, 0, 0), rgb(124, 124, 124), rgb(255, 255, 255), rgb(124, 124, 124), rgb(0, 0, 0));
}
12% {
    background: linear-gradient(0deg, rgb(124, 124, 124), rgb(0, 0, 0), rgb(124, 124, 124), rgb(255, 255, 255), rgb(124, 124, 124));
}
25% {
    background: linear-gradient(0deg, rgb(255, 255, 255), rgb(124, 124, 124), rgb(0, 0, 0), rgb(124, 124, 124), rgb(255, 255, 255));
}
38% {
    background: linear-gradient(0deg, rgb(124, 124, 124), rgb(255, 255, 255), rgb(124, 124, 124), rgb(0, 0, 0), rgb(124, 124, 124));
}
50% {
    background: linear-gradient(0deg, rgb(0, 0, 0), rgb(124, 124, 124), rgb(255, 255, 255), rgb(124, 124, 124), rgb(0, 0, 0));
}
63% {
    background: linear-gradient(0deg, rgb(124, 124, 124), rgb(0, 0, 0), rgb(124, 124, 124), rgb(255, 255, 255), rgb(124, 124, 124));
}
75% {
    background: linear-gradient(0deg, rgb(255, 255, 255), rgb(124, 124, 124), rgb(0, 0, 0), rgb(124, 124, 124), rgb(255, 255, 255));
}
82% {
    background: linear-gradient(0deg, rgb(124, 124, 124), rgb(255, 255, 255), rgb(124, 124, 124), rgb(0, 0, 0), rgb(124, 124, 124));
}
100% {
    background: linear-gradient(0deg, rgb(0, 0, 0), rgb(124, 124, 124), rgb(255, 255, 255), rgb(124, 124, 124), rgb(0, 0, 0));
}}
@keyframes Backround {
0% {
    background-position: 0 0px;
}
100% {
    background-position: 0 -9000px;
}}