.body1{
    /* background-image: url('../Fließband/fließbandLANG.png');
    background-size: cover; */
    
    height: 100vh; /* Viewport-Höhe, nicht 12000px */
    width: 1500px;
    overflow: hidden; /* versteckt alles, was überläuft */
    position: relative;
}

.box{
    position: absolute;
    top: 20%;
    left: 10%;
    width: 80%;
    height: auto; /* nicht 200% */
        mix-blend-mode: difference;
    animation: scroll 25s linear infinite; /* Animation hierher */
}
@keyframes scroll {
    0% { transform: translateY(1000px); }
    100% { transform: translateY(-650vh); /* scroll nach unten um eine Viewport-Höhe */ }
}
* {
    margin: 0em;
    padding: 0;
    box-sizing: border-box;
}

.zeile{
    position: relative;
    left: 10%;
    line-height: 200px;

   

}

.zeile:nth-child(n) {
    transform: translateY(50px) ;
}


.span{
    font-size: 40px;
    font-family: 'futura-pt', sans-serif;
    font-weight: bolder;
    color: #ffffff;
    text-decoration: none;
    margin-right: 10px;
    -webkit-text-stroke: rgb(0, 0, 0) 0.5px;
    transition:0.5s;

}
.span:hover{
    font-size: 200px;
    font-family: 'futura-pt', sans-serif;
    font-weight: bolder;
    color: #ffffff;
    text-decoration: none;
    margin-right: 10px;
    -webkit-text-stroke: rgb(0, 0, 0) 0.5px;
}




.Zeile1{
display: flex;
justify-content: space-between;
align-items: center;
    opacity: 1;
    height:40px;
    width:1472px;
    color:#d9ff00!important;
    background-color: #ffffff!important;
}

.links {
    position: flex;
    margin-left: 25px;
    font-size: 50px;

  

}
.mitte {
    position: flex;

}
.rechts {
    position: flex;
    margin-right:25px;
    font-size: 50px;
}

header {
    z-index: 9999;
    position: absolute;
    background-color: #ffffff;
    width:100%;
  


}

header p {
    display: relative; /* oder: display:flex; align-items:center; */

    text-align: left;
    text-justify: inter-word;
    text-align-last: auto;
    align-items: center;
    -moz-text-align-last: auto;
    letter-spacing: 0px; /* nach Bedarf anpassen */
    white-space: nowrap;   /* verhindert Zeilenumbruch innerhalb des Links */
}

@font-face {
    font-family: 'W3';
    src: url('../../assets/fonts/HiraginoSans-W3.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

h1{
    font-size: 25px;
    font-family:W3;
    color: #000000;
    margin-top:0px;
    text-align:center;

}




















a {
    text-align: justify;
    font-size: 1em;
    font-family:Garamon;
    color: #373737;
    text-decoration: none;
    letter-spacing: 1px;
    filter: blur(0px);
}
.pixel{

    position:relative;
   background: linear-gradient(0deg, rgb(0, 0, 0), rgb(124, 124, 124), rgb(255, 255, 255), rgb(124, 124, 124), rgb(0, 0, 0));
    display: block;
    width: 100%;
    height: 200px;
    justify-items: center;
   
    outline: 0px rgb(0, 0, 0) solid;
    outline-offset: 00px;
    animation:  Backround 25s infinite ;
}



@keyframes PixelGradient {
0% {
    background: linear-gradient(0deg, rgb(0, 0, 0), rgb(124, 124, 124), rgb(255, 255, 255), rgb(124, 124, 124), rgb(0, 0, 0));
}
12% {
    background: linear-gradient(0deg, rgb(124, 124, 124), rgb(0, 0, 0), rgb(124, 124, 124), rgb(255, 255, 255), rgb(124, 124, 124));
}
25% {
    background: linear-gradient(0deg, rgb(255, 255, 255), rgb(124, 124, 124), rgb(0, 0, 0), rgb(124, 124, 124), rgb(255, 255, 255));
}
38% {
    background: linear-gradient(0deg, rgb(124, 124, 124), rgb(255, 255, 255), rgb(124, 124, 124), rgb(0, 0, 0), rgb(124, 124, 124));
}
50% {
    background: linear-gradient(0deg, rgb(0, 0, 0), rgb(124, 124, 124), rgb(255, 255, 255), rgb(124, 124, 124), rgb(0, 0, 0));
}
63% {
    background: linear-gradient(0deg, rgb(124, 124, 124), rgb(0, 0, 0), rgb(124, 124, 124), rgb(255, 255, 255), rgb(124, 124, 124));
}
75% {
    background: linear-gradient(0deg, rgb(255, 255, 255), rgb(124, 124, 124), rgb(0, 0, 0), rgb(124, 124, 124), rgb(255, 255, 255));
}
82% {
    background: linear-gradient(0deg, rgb(124, 124, 124), rgb(255, 255, 255), rgb(124, 124, 124), rgb(0, 0, 0), rgb(124, 124, 124));
}
100% {
    background: linear-gradient(0deg, rgb(0, 0, 0), rgb(124, 124, 124), rgb(255, 255, 255), rgb(124, 124, 124), rgb(0, 0, 0));
}}
@keyframes Backround {
0% {
    background-position: 0 0px;
}
100% {
    background-position: 0 -9000px;
}}