* {
     margin: 0.em;
    padding: 0;
    box-sizing: border-box;
      font-family: Garamon;
}
@font-face {
    font-family:Garamon;
   src: url(../Gedichtssammlungcoupe-/assets/fonts/GARAMOND.4-weit.otf) format(opentype);
}
@font-face {
    font-family:Blur2;
    src: url(../Gedichtssammlungcoupe-/assets/fonts/09-100-100-100-blur2.otf) format(opentype);
}
@font-face {
    font-family:Blur1;
    src: url(../Gedichtssammlungcoupe-/assets/fonts/09-100-100-100-blur1.otf) format(opentype);
}



body {
   font-weight:lighter;
    line-height: 1.6;
    color: #333;
    background-color: #ffffff;
}
h1{
    font-size: 200px;
    font-family:Garamon;
    color: #404040;
    font-weight:lighter;
}

a {

    font-size: 150px;
    font-family:Garamon;
    color: #1d1d1d;
    text-decoration: none;
}

