* {
     margin: 0em;
    padding: 0;
    box-sizing: border-box;

}
@font-face {
    font-family:Garamon;
   src: url(../Kuhlschrank/fonts/GARAMOND.4-weit.otf) format(opentype);
}
@font-face {
    font-family:Blur2;
    src: url(../Gedichtssammlungcoupe-/assets/fonts/09-100-100-100-blur2.otf) format(opentype);
}
@font-face {
    font-family:Blur1;
    src: url(../Gedichtssammlungcoupe-/assets/fonts/09-100-100-100-blur1.otf) format(opentype);
}



body {
   font-weight:lighter;
    line-height: 1.6;
    color: #636363;
    background-color: #51544d;
    text-align: center;
    
}

h1{
    font-size: 75px;
    font-family:'Courier New', Courier, monospace;
    color: #949f5c;
    font-weight:lighter;
}
h2{
    font-size: 40px;
    font-family:'Courier New', Courier, monospace;
    color: #d9ff02;
    font-weight:lighter;
}
header {

   margin-left: 20px;
    text-align: left;
}
a {
    text-align: left;
    font-size: 5em;
    font-family:Garamon;
    color: #373737;
    text-decoration: none;
    letter-spacing: 0px;
}
a:hover {
    text-align: left;
    font-size: 5em;
    font-family:Garamon;
    color: #282121;
    text-decoration: none;
    letter-spacing: 50px;
    transition: 1s;

}
a:active {
    text-align: left;
    font-size: 5em;
    font-family:Garamon;
    color: #ffffff;
    text-decoration: none;
    letter-spacing: 0px;
    transition: 1s;
}
span {
    
    font-size: 30px;
    font-family:'Courier New', Courier, monospace;
    
    opacity:0.8;
    filter:blur(1);
    position: relative; 
    z-index: 2;
    transition: font-size 0.3s;
    letter-spacing: 25px;
       
}
span:hover {
    
    font-family: 'Courier New', Courier, monospace;
    opacity:1;
    filter:blur(0);
    letter-spacing: 10px;
    transition: 1s;
  
}


.Zeile{
    position: relative;
    opacity: 1;
    color: #849b00;
}
.Zeile:hover{
    position: relative;
    opacity: 1;
    color:#d9ff00!important;
}
.Image1 {
    position: absolute;
    top: 10%;
    left:0%;
    width: 100%;
    height: auto;
    z-index: 1; 
    opacity: 0;

}
.Image1:hover {
    position: absolute;
    top: 10%;
    left:0%;
    width: 100%;
    height: auto;
    z-index: 1; /* hinter dem Text */
    opacity:1;
}
.Image2 {
    position: absolute;
    top: 0%;
    left:0%;
    transform: scale(0.1);
    height: auto;
    z-index: 1; /* hinter dem Text */
    opacity: 0;

}
.Image2:hover {
    position: absolute;
    top: 0%;
    left:0%;
    transform: scale(0.1);
    width: 500px;
    height: auto;
    z-index: 1; /* hinter dem Text */
    opacity:1;
}

