@font-face {
    font-family:Garamon;
   src: url(../Kuhlschrank/fonts/GARAMOND.4-weit.otf) format(opentype);
}



.frame {
    border: 0px solid #000000;
    width: 988px;
    height: 1484px;
    overflow:visible ;
    left: 15%;
    top: 10%;
    
    position: absolute;
}
.mydiv {
  position: absolute;
  z-index: 9;
  background-color: #000000;
  border-right: 1px solid #383838;
  border-top: 1px solid #222222;
  text-align: center;
  cursor: move;
  padding-left: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-top: 0px;
    padding-right: 40px;
}
a {
    text-align: left;
    font-size: 5em;
    font-family:Garamon;
    color: #373737;
    text-decoration: none;
    letter-spacing: 0px;
}
a:hover {
    text-align: left;
    font-size: 5em;
    font-family:Garamon;
    color: #282121;
    text-decoration: none;
    letter-spacing: 50px;
    transition: 1s;

}
a:active {
    text-align: left;
    font-size: 5em;
    font-family:Garamon;
    color: #ffffff;
    text-decoration: none;
    letter-spacing: 0px;
    transition: 1s;
}
p {
    font-size: 10px;
    font-family:'Courier New', Courier, monospace;
    color: #ffffff;
    text-decoration: none;
    transform: scale(3)
}

img {
    transform: scale(1);
    position: absolute;
    top: 0%;
    left: 0%;
    max-width: 100%;
    height: auto;
    
}

button {
    position: absolute;
    top: 5%;
    left: 80%;
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
    color: #000000;
    background-color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
.container {
    position: absolute;
top: -10px;
  left: -9px;
  width: 987px;
  height: 1484px;
    border:#ff1616 0px solid;
}
/* @media print {
    body {
        transform: scale(0.85);
        transform-origin: top left;
        margin: 5em;
        padding: 0;
    }
    
    img {
        max-width: 100%;
        page-break-inside: avoid;
    }
    
    .container {
        left:120px;
        top:50px;
       transform: scale(0.6); 
        transform-origin: top left; 
        page-break-inside: avoid;
    }
} */
 @media print {
    .frame {
        border: none;
        width: 100%;
        height: auto;
        overflow: visible;
        left: 0;
        top: 0;
        position: static;
        page-break-inside: avoid;
        transform: scaleY(0.95);
     
     }  
        .container {
        transform: scale(0.8);
        transform-origin: top left; 
        page-break-inside: avoid;
    }
        .Drucker {
        display: none; 
    opacity:0;
    }
    a {
        display: none;
        opacity:0;

}
}