@font-face {
    font-family:Garamon;
   src: url(../Kuhlschrank/fonts/GARAMOND.4-weit.otf) format(opentype);
}
/* 
body{
    background-image: url(https://cdn.idealo.com/folder/Product/201823/2/201823254/s1_produktbild_max_4/ok-ofk-121-d.jpg);
    background-size: cover;
} */
.Zeile1{
display: flex;
justify-content: space-between;
align-items: center;
    opacity: 1;
    height:40px;
    width:100%;
    color:#d9ff00!important;
    background-color: #ffffff!important;
}

.links {
    position: flex;
    margin-left: 25px;
    font-size: 50px;

  

}
.mitte {
    position: flex;

}
.rechts {
    position: flex;
    margin-right:25px;
    font-size: 50px;
}

header {
    z-index: 9999;
    position: absolute;
    background-color: #ffffff;
    width:100%;
  


}

header p {
    display: relative; /* oder: display:flex; align-items:center; */

    text-align: left;
    text-justify: inter-word;
    text-align-last: auto;
    align-items: center;
    -moz-text-align-last: auto;
    letter-spacing: 0px; /* nach Bedarf anpassen */
    white-space: nowrap;   /* verhindert Zeilenumbruch innerhalb des Links */
}

@font-face {
    font-family: 'W3';
    src: url('../../assets/fonts/HiraginoSans-W3.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

h1{
    font-size: 25px;
    font-family:W3;
    color: #000000;
    margin-top:0px;
    text-align:center;

}

a {
    text-align: justify;
    font-size: 1em;
    font-family:W3;
    color: #373737;
    text-decoration: none;
    letter-spacing: 1px;
    filter: blur(0px);
}


.Zeile{
    position: relative;
    opacity: 1;
    height:30px;
    color:#d9ff00!important;
}



.frame {
    border: 0px solid #000000;
    width: 988px;
    height: 1484px;
    overflow:visible ;
    left: 15%;
    top: 10%;
    
    position: absolute;
}
.mydiv {
  position: absolute;
  z-index: 9;
  background-color: #000000;
  border-right: 2px solid #383838;
  border-top: 2px solid #222222;
  text-align: center;
  cursor: move;
  padding-left: 30px;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-top: 0px;
    padding-right: 30px;
    z-index:1;
}
.mydiv2 {
  position: absolute;
  z-index: 9;
  background-color: #000000;
  border-right: 2px solid #383838;
  border-top: 2px solid #222222;
  text-align: center;
  cursor: move;
  padding-left: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-top: 0px;
    padding-right: 5px;
    z-index:2;
}
/* a {
    text-align: left;
    font-size: 5em;
    font-family:Garamon;
    color: #373737;
    text-decoration: none;
    letter-spacing: 0px;
}
a:hover {
    text-align: left;
    font-size: 5em;
    font-family:Garamon;
    color: #282121;
    text-decoration: none;
    letter-spacing: 50px;
    transition: 1s;

}
a:active {
    text-align: left;
    font-size: 5em;
    font-family:Garamon;
    color: #ffffff;
    text-decoration: none;
    letter-spacing: 0px;
    transition: 1s;
} */
p {
    font-size: 5px;
    font-family:'Courier New', Courier, monospace;
    color: #ffffff;
    text-decoration: none;
    transform: scale(3)

}

img {
    transform: scale(1);
    position: absolute;
    top: 0%;
    left: 0%;
    max-width: 100%;
    height: auto;
    z-index: 0;
}

button {
    position: absolute;
    top: 5%;
    left: 80%;
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
    color: #000000;
    background-color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
.container {
    position: absolute;
top: -10px;
  left: -9px;
  width: 987px;
  height: 1484px;
    border:#ff1616 0px solid;
}
/* @media print {
    body {
        transform: scale(0.85);
        transform-origin: top left;
        margin: 5em;
        padding: 0;
    }
    
    img {
        max-width: 100%;
        page-break-inside: avoid;
    }
    
    .container {
        left:120px;
        top:50px;
       transform: scale(0.6); 
        transform-origin: top left; 
        page-break-inside: avoid;
    }
} */
 @media print {
    .Header {
        display: none;
    }
     .Zeile1{
        display: none;
    }
    .frame {
        display: contents;
        border: none;
        width: 100%;
        height: 100%;
        overflow: visible;
        left: 0;
        top: 0;
        position: static;
        page-break-inside: avoid;
        transform: scaleY(1);
     
     }  
     img {
    transform: scaleX(1) scaleY(0.95);
    
    position: absolute;
    top: 0%;
    left: 3%;
    max-width: 100%;
    height: 100%;
    z-index: 0;
}
        .container {
             position: absolute;
    top: 0%;
    left: 3%;
            display: block;
        transform: scale(0.7);
        transform-origin: top left; 
        overflow: hidden;
        break-inside: avoid;
    }
    
        .Drucker {
        display: none; 
    opacity:0;
    }
    a {
        display: none;
        opacity:0;

}
}

