@font-face {
    font-family: 'Nocturnal';
    src: url("../fonts/Nocturnal.otf") format("opentype");
}



.Zeile1{
    position: relative;
display: flex;
justify-content: space-between;
align-items: center;
    opacity: 1;
    height:40px;
    width:100%;
    color:#d9ff00!important;
    background-color: #ffffff!important;
}

.links {
    position: flex;
    margin-left: 25px;
    font-size: 50px;

  

}
.mitte {
    position: flex;

}
.rechts {
    position: flex;
    margin-right:25px;
    font-size: 50px;
}

header {
    z-index: 9999;
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left:0%;
}

header p {
    display: relative; /* oder: display:flex; align-items:center; */

    text-align: left;
    text-justify: inter-word;
    text-align-last: auto;
    align-items: center;
    -moz-text-align-last: auto;
    letter-spacing: 0px; /* nach Bedarf anpassen */
    white-space: nowrap;   /* verhindert Zeilenumbruch innerhalb des Links */
}

@font-face {
    font-family: 'W3';
    src: url('../../assets/fonts/HiraginoSans-W3.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

h1{
    font-size: 25px;
    font-family:W3;
    color: #000000;
    margin-top:0px;
    text-align:center;

}








a {
    text-align: justify;
    font-size: 1em;
    font-family:Garamon;
    color: #373737;
    text-decoration: none;
    letter-spacing: 0px;
    filter: blur(0px);
}
a:hover {
    text-align: justify;
    font-size: 1em;
    font-family:Garamon;
    color: #282121;
    text-decoration: none;
    letter-spacing: 10px;
    transition: 1s;
    filter: blur(0px);

}
a:active {
    text-align: justify;
    font-size: 1em;
    font-family:Garamon;
    color: #ffffff;
    text-decoration: none;
    letter-spacing: 0px;
    transition: 1s;
}
.Zeile-header{
    position: relative;
    opacity: 1;
    height: 20px;
    color:#d9ff00!important;
}
.Zeile:hover{
    position: relative;
    opacity: 1;
     color: #e6ff58!important;

}

body {
    font-family: 'Consolas', monospace;
    background: #000000;
    color: #ffffff;
    padding: 0px;
    line-height: 1.6em;
    text-align: center;


}

p {
    margin: 0;
    padding: 0;
}

.indent-0 { margin-left: 0px; }
.indent-1 { margin-left: 20px; }
.indent-2 { margin-left: 40px; }
.indent-3 { margin-left: 60px; }
.indent-4 { margin-left: 80px; }
.indent-5 { margin-left: 100px; }


.green {
    color: #5cae79;
    opacity: 1;

}
.green:hover {
    opacity: 1; 
}




.red1 { 
    color: #bc3641;
    animation: blink 2s infinite; animation-delay: 0s; }
.red2 {    
    color: #bc3641;
    animation: blink 2s infinite; animation-delay: 0.2s; }
.red3 {     
    color: #bc3641;
    animation: blink 2s infinite; animation-delay: 0.4s; }
.red4 { 
    color: #bc3641;
    animation: blink 2s infinite; animation-delay: 0.6s; }
.red5 { 
    color: #bc3641;
    animation: blink 2s infinite; animation-delay: 0.8s; }
.red6 { 
    color: #bc3641;
    animation: blink 2s infinite; animation-delay: 1s; }
.red7 { 
    color: #bc3641;
    animation: blink 2s infinite; animation-delay: 1.2s; }
.red8 { 
    color: #bc3641;
    animation: blink 2s infinite; animation-delay: 1.4s; }
.red9 { 
    color: #bc3641;
    animation: blink 2s infinite; animation-delay: 1.6s; }
.red10 { 
    color: #bc3641;
    animation: blink 2s infinite; animation-delay: 1.8s; }
.red11 { 
    color: #bc3641;
    animation: blink 2s infinite; animation-delay: 2s; }
.red12 { 
    color: #bc3641;
    animation: blink 2s infinite; animation-delay: 2.2s; }
.red13 { 
    color: #bc3641;
    animation: blink 2s infinite; animation-delay: 2.4s; }

/* @keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
} */



.blue {
    color: #0b34b9;
}

.fat {
    font-weight: bold;  
}



/* Overlay Hintergrund */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    color: white;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 9999;
}

/* Inhalt im Overlay */
.overlay-inner {
    padding: 2rem;
    font-size: 1.5rem;
}

/* Schließen-Button */
.close-overlay {
    display: block;
    margin-top: 2rem;
    color: red;
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
}

/* Aktivieren des Overlays */
#toggle-kill:checked ~ .overlay {
    display: flex;
}

/* Text ausblenden, wenn Overlay aktiv */
#toggle-kill:checked ~ p {
    visibility: hidden;
}

/* Klickbarer "kill"-Link */
.kill-trigger {
    cursor: pointer;
    text-decoration: underline;
}




.fontswitcher {
    font-family: url('../fonts/Nocturnal.otf');
    padding-top: 100px;

}


.hidden {
    display: none;
  }
  
  /* Schriftart für die Umschalter */
  .fontswitcher.changed-font {
    font-family: "'nocturnal'";
  }
  
  
  .crypt {
    color: #5cae79;
    cursor: pointer;
    text-decoration: underline;
  }


  
  /* Schriftwechsel nur für .fontswitcher */
  .fontswitcher.changed-font {
    font-family: "nocturnal";
  }
  
  .changed-font {
    font-family: "nocturnal"; /* oder ein anderer Font */
    transition: font-family 0.3s ease;
}



.popup {
    position: fixed;
    width: 280px;
    padding: 1px;
    background: #000;
    border: 1px solid #000000;
    color: white;
    display: none;
    z-index: 9999;
}

.popup img {
    width: 100%;
    display: block;
}

.popup .close-btn {
    margin-top: 8px;
    padding: 5px 10px;
    background: #000000;
    color: #5cae79;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
}



/* Leucht-Effekt */
.glow {
    animation: glowPulse 1.5s ease-in-out infinite;
    color: #5cae79 !important;
    text-shadow: 0 0 8px #5cae79, 0 0 16px #5cae79;
}

@keyframes glowPulse {
    0% { opacity: 0.7; text-shadow: 0 0 4px #5cae79; }
    50% { opacity: 1; text-shadow: 0 0 14px #5cae79; }
    100% { opacity: 0.7; text-shadow: 0 0 4px #5cae79; }
}

/* Die mystische Scanline */
.scanline {
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    background: #5cae79(150, 255, 220, 0.8);
    box-shadow: 0 0 20px 6px #5cae79(120, 255, 210, 0.7);
    pointer-events: none;
    opacity: 0;
    animation: scanMove 2.2s ease-out forwards;
}

@keyframes scanMove {
    0% { top: 0; opacity: 1; }
    90% { opacity: 1; }
    100% { top: 100%; opacity: 0; }
}



/* Bildschirm-Kippen */
.tilted {
    transform: rotate(6deg) scale(1.02);
    transition: transform 0.35s ease-in-out;
}


/* leichte Farbveränderungen */
.inverted {
    filter: invert(1) hue-rotate(180deg);
    transition: filter 1s ease-in-out;
}

/* Glitch-Effekt */
.glitch {
    animation: glitchAnim 0.25s steps(2, end) 0s 2;
}

@keyframes glitchAnim {
    0% {
        clip-path: inset(0 0 40% 0);
        transform: translate(-2px, -2px);
    }
    50% {
        clip-path: inset(30% 0 0 0);
        transform: translate(2px, 2px);
    }
    100% {
        clip-path: inset(10% 0 20% 0);
        transform: translate(-1px, 1px);
    }
}
