@font-face {
    font-family:Garamon;
   src: url(../assets/fonts/GARAMOND.4-weit.otf) format(opentype);
}
body {
   font-weight:lighter;
    line-height: 1.6;
    color: #333;
    background-color: #ffffff;
    width: 200vw;
    height: 100vh;
}
h1{
    font-size: 200px;
    font-family:Garamon;
    color: #000000;
    font-weight:lighter;
}

a {
    text-align: center;
    font-size: 5em;
    font-family:Garamon;
    color: #373737;
    text-decoration: none;
    letter-spacing: 0px;
}
a:hover {
    text-align: center;
    font-size: 5em;
    font-family:Garamon;
    color: #282121;
    text-decoration: none;
    letter-spacing: 50px;
    transition: 1s;

}
a:active {
    text-align: center;
    font-size: 5em;
    font-family:Garamon;
    color: #ffffff;
    text-decoration: none;
    letter-spacing: 0px;
    transition: 1s;
}
p {

    font-size: 5em;
    font-family:Garamon;
    color: #373737;
    text-decoration: none;
}
p:hover {
    font-size: 5em;
    font-family:Garamon;
    color: #282121;
    text-decoration: none;
    transition: 1s;
    transform:scaleX(2);
}
.container{
    position:absolute;
}
.eins{
    top:30%;
    left:50%;
    transform: translate(-50%, -50%);
    display:flex;
    flex-direction: column;
    gap: 0.5em;
}